body {
    background: white;
}

/* header {
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    -moz-border-image: url(./images/bone.svg) 10 round;
    -webkit-border-image: url(./images/bone.svg) 10 round;
    -o-border-image: url(./images/bone.svg) 10 round;
    border-image: url(./images/bone.svg) 0 fill round;
} */

h1 {
    color: black;
    font-size: 70px;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

form {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

#submit {
    margin: 10px;
}

/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    -moz-border-image: url(./images/bone.svg) 10 round;
    -webkit-border-image: url(./images/bone.svg) 10 round;
    -o-border-image: url(./images/bone.svg) 10 round;
    border-image: url(./images/bone.svg) 0 fill round;
} */

img {
    border: 1px solid black;
}